# Import packages

In [ ]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import nltk
import re

pd.set_option('display.max_colwidth', None)
pd.reset_option('display.max_rows')
pd.set_option('display.max_columns', 200)

In [ ]:
nltk.download('brown')

# Read the CSV

In [ ]:
movies_df = pd.read_csv("/kaggle/input/movies-dataset-for-feature-extracion-prediction/movies.csv")
movies_df.head()

# Column Datatypes

In [ ]:
#datatypes
movies_df.dtypes

# Rows and Columns of the dataframe

In [ ]:
# Rows and columns of the dataframe
movies_df.shape

# Column Names

In [ ]:
#Rename column names
df_columns = movies_df.columns.tolist()
df_columns

__Column names were updated.__

In [ ]:
for c in df_columns:
    movies_df = movies_df.rename(columns=({c: movies_df[c].name.title()}))

movies_df = movies_df.rename(columns=({'Gross': 'Gross (in million $)'}))

In [ ]:
#movies_df

# Drop the duplicate rows
__Shows rows and columns after the removal of duplicate rows.__

In [ ]:
#Drop duplicates
movies_df = movies_df.drop_duplicates()
movies_df.shape

In [ ]:
#movies_df

# Format the columns

__Following functions are applied to completely format the abnormal column values:__                                                            
__1. strip()__ - to remove any unwanted characters such as alphabates or whitespaces                                                                          
__2. fillna()__ - fill NULL values with intended values                                                                
__3. replace()__ - replace unwanted characters with intended values                                                                    
__4. astype()__ - to convert the datatypes of the columns                                                       
__5. iteritems()__ - to loop through the records of the dataframe

## Movies

In [ ]:
movies_df['Movies'] = movies_df['Movies'].str.strip()

## Votes

In [ ]:
#Votes
movies_df['Votes'] = movies_df['Votes'].fillna('0')
movies_df['Votes'] = movies_df['Votes'].str.replace(',', '')
movies_df['Votes'] = movies_df['Votes'].astype(int)

## Rating

In [ ]:
#Rating
movies_df['Rating'] = movies_df['Rating'].fillna(0.0)

## Gross

In [ ]:
#Gross
movies_df['Gross (in million $)'] = movies_df['Gross (in million $)'].str.replace('M', '').str.replace('$', '')
movies_df['Gross (in million $)'] = movies_df['Gross (in million $)'].astype(float)
movies_df['Gross (in million $)'] = movies_df['Gross (in million $)'].fillna(0.0)

## Runtime

In [ ]:
#Runtime
movies_df['Runtime'] = movies_df['Runtime'].fillna(0.0)

## Year

In [ ]:
#Split year into start year and End year
movies_df["Year"] = movies_df["Year"].str.replace('(', '')
movies_df["Year"] = movies_df["Year"].str.replace(')', '')

In [ ]:
#movies_df

In [ ]:
movies_df['Year'] = movies_df['Year'].str.strip()
movies_df[["Mix", "End_Year"]] = movies_df['Year'].str.split('–', 1, expand=True)
#movies_df

In [ ]:
# Split the Start_Year column 
movies_df['Start_Year'] = movies_df['Mix'].astype(str).apply(lambda x: ''.join(re.findall(r'\d{4}', x)))
movies_df['Season'] = movies_df['Mix'].astype(str).apply(lambda x: ''.join(re.findall(r'\b[I|V|X|L|C|D|M]+\b', x)))
movies_df['Type'] = movies_df['Mix'].astype(str).apply(lambda x: ''.join(re.sub(r'(\d{4}|\b[I|V|X|L|C|D|M]+\b)', '', x)))

In [ ]:
#movies_df

## Genre

In [ ]:
movies_df['Genre'] = movies_df['Genre'].str.strip('\n')
movies_df[['Genre1', 'Genre2', 'Genre3']] = movies_df['Genre'].str.split(',',2,expand=True)
#movies_df

## Stars

In [ ]:
#Split and clean the Stars column from the dataframe
movies_df['Stars'] = movies_df['Stars'].str.strip('\n')
stars = pd.DataFrame()
movies_df[['Director', 'Actor']] = movies_df['Stars'].str.split('|', 1, expand=True)
#movies_df

In [ ]:
for idx, value in movies_df['Director'].iteritems():
    #if idx < 10: print(idx, value)
    if 'Stars:' in value:
        movies_df['Actor'][idx], movies_df['Director'][idx] = value, ''

In [ ]:
#movies_df

In [ ]:
movies_df['Director'] = movies_df['Director'].str.replace('Director:', '')
movies_df['Director'] = movies_df['Director'].str.replace('Directors:', '')
movies_df['Actor'] = movies_df['Actor'].str.replace('Stars:', '')
movies_df['Actor'] = movies_df['Actor'].str.replace('Star:', '')
#movies_df

In [ ]:
movies_df['Director'] = movies_df['Director'].str.strip()
movies_df['Actor'] = movies_df['Actor'].str.strip()
movies_df['Actor'] = movies_df['Actor'].str.replace('\n', '')

In [ ]:
#movies_df

In [ ]:
# The concept of cleaning these kind of columns is significant here
movies_df[['Actor1', 'Actor2', 'Actor3', 'Actor4']] = movies_df['Actor'].str.split(',', 4, expand=True)
#First 4 directors are considered
movies_df[['Director1', 'Director2', 'Director3', 'Director4', 'DirectorN']] = movies_df['Director'].str.split(',', 4, expand=True)
#movies_df

### Director

In [ ]:
#Director
for idx, val in movies_df['Director1'].iteritems():
    if val == '': movies_df['Director1'][idx] = 'Unknown'
# for idx, val in movies_df['Director2'].iteritems():
#     if val == '': movies_df['Director2'][idx] = 'None'
# for idx, val in movies_df['Director3'].iteritems():
#     if val == '': movies_df['Director3'][idx] = 'None'
# for idx, val in movies_df['Director4'].iteritems():
#     if val == '': movies_df['Director4'][idx] = 'None'

movies_df['Director1'] = movies_df['Director1'].fillna('Unknown')
# movies_df['Director2'] = movies_df['Director2'].fillna('None')
# movies_df['Director3'] = movies_df['Director3'].fillna('None')
# movies_df['Director4'] = movies_df['Director4'].fillna('None')

### Actor

In [ ]:
#Actor
for idx, val in movies_df['Actor1'].iteritems():
    if val == '': movies_df['Actor1'][idx] = 'Unknown'
# for idx, val in movies_df['Actor2'].iteritems():
#     if val == '': movies_df['Actor2'][idx] = 'None'
# for idx, val in movies_df['Actor3'].iteritems():
#     if val == '': movies_df['Actor3'][idx] = 'None'
# for idx, val in movies_df['Actor4'].iteritems():
#     if val == '': movies_df['Actor4'][idx] = 'None'

movies_df['Actor1'] = movies_df['Actor1'].fillna('Unknown')
# movies_df['Actor2'] = movies_df['Actor2'].fillna('None')
# movies_df['Actor3'] = movies_df['Actor3'].fillna('None')
# movies_df['Actor4'] = movies_df['Actor4'].fillna('None')

## Start Year and End Year
__The below code is commented as I do not intend to update the NULL values with any value. The value can be determined based on the end goal.__

In [ ]:
#Start Year and End Year
# movies_df['Start_Year'] = movies_df['Start_Year'].str.strip().fillna('Unknown')
# movies_df['End_Year'] = movies_df['End_Year'].str.strip().fillna('Unknown')

## One-line

In [ ]:
movies_df['One-Line'] = movies_df['One-Line'].str.strip('\n')
movies_df['One-Line-Summary'] = movies_df['One-Line'].str.strip()
movies_df['One-Line-Summary'] = movies_df['One-Line-Summary'].str.strip('See full summary »')
movies_df['One-Line-Summary'] = movies_df['One-Line'].str.strip()
#Add a Plot
for idx, val in movies_df['One-Line-Summary'].iteritems():
    if val == 'Add a Plot' or '':
        movies_df['One-Line-Summary'][idx] = 'Unknown'
    else:
        blob = TextBlob(val)
        if movies_df['Movies'][idx] == 'The Kominsky Method': print(idx, blob)
        new_text = ', '.join(blob.noun_phrases)
        #if movies_df['Movies'][idx] == 'The Kominsky Method': print(idx, type(new_text))
        if new_text: movies_df['One-Line-Summary'][idx] = new_text
        else: movies_df['One-Line-Summary'][idx] = 'Unknown'
        
movies_df['One-Line-Summary'] = movies_df['One-Line-Summary'].fillna('Unknown')

# Rechecking the columns

In [ ]:
movies_df.columns

# Drop unwanted columns

In [ ]:
# Eliminate unwanted columns

movies_df = movies_df.drop(columns=['Year', 'Genre', 'Actor', 'Stars', 'Director', 'DirectorN', 'One-Line', 'Mix'], axis=1)
movies_df

# Check for NULL values

In [ ]:
# Check for NULL
print(movies_df.isnull().sum())

In [ ]:
print(movies_df.dtypes)

# Updated NULL values and datatypes

In [ ]:
print(movies_df.isnull().sum())

In [ ]:
print(movies_df.dtypes)

# Sort the dataset

__This will sort the pandas dataframe with the values from 'Movies' column alphabatically and reset the index.__

In [ ]:
movies_df.sort_values(by=['Rating', 'Gross (in million $)'], ascending=False, inplace=True)
movies_df = movies_df.reset_index(drop=True)

# Write the dataframe as excel

In [ ]:
movies_df.to_excel('output.xlsx', index=False)

# Final View of the Dataset

In [ ]:
#movies_df[movies_df['Movies'] == 'The Kominsky Method']['One-Line-Summary']
movies_df